@import "tailwindcss";

.container {
  width: 80%;
}

.container-fluid {
  width: 100%;
}

.card-swiper .swiper-wrapper {
  /* margin-left: -145px; */
  padding-bottom: 64px;
}

.image-swapper .swiper-wrapper {
  display: flex;
  justify-content: center;
}

.drop-icon {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5H7z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1.5em;
}

.drop-icon1 {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FF7235' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5H7z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1.5em;
  padding-right: 2.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}

section {
  width: 100%;
  overflow-x: hidden;
}
